.gym-member {

  display: inline-block;
  border: 2px solid transparent;
  border-radius: 8px;

  .pokemon-sprite {
    top: 0;
    display: block;
  }

  &.team-1 .cp {
    background-color: #4A8ACA;
    color: #fff;
  }

  &.team-2 .cp {
    background-color: #F0443A;
    color: #fff;
  }

  &.team-3 .cp {
    background-color: #FED928;
    color: #000;
  }

  &.selected {
    &.team-1 {
      border-color: #4A8ACA;
    }
    &.team-2 {
      border-color: #F0443A;
    }
    &.team-3 {
      border-color: #FED928;
    }
    .cp {
      border-radius: 0 0 5px 5px;
    }
  }

  .cp {
    display: block;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: .85em;
  }
}
